body{
    margin: 0;
    padding-top: 75px; 
    background-image: url(kép4.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top center;
    width: 100;
    height: 900px;
}

.cimdoboz{
    border:2px solid white;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    display: inline-block;
    margin: auto;
    text-align: left;
}

.bal{
    border:2px solid white;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block; 
    margin: 50px 0 0 20px;
    text-align: left;
    color: white;
    max-width: 800px;
}

.a-szoveg{
    font-size: 25px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.5); 
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    border:2px solid white;
    margin: 25px 0 0 20px;
}

.fejlec {
    height: 75px; 
    background-color: black; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 200px;
    margin-right: auto;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.menu {
    margin-right: 80px; /* a menü beljebb tolása */
}

.menu a:hover {
    text-decoration: underline;
}

.kozep {
    text-align: left;
}

/* ============================== */
/*      SZOLGÁLTATÁSOK RÉSZ      */
/* ============================== */
.szolgaltatasok {
    padding: 120px 20px;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 600px;
}

.szolgaltatasok h2 {
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: bold;
}

.kartya-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.kartya {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.kartya:hover {
    transform: translateY(-8px);
}

.kartya h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.kartya p {
    font-size: 18px;
    line-height: 1.5;
}

/* ============================== */
/*             RÓLUNK             */
/* ============================== */
.rolunk {
    padding: 120px 20px;
    background-color: grey;
    text-align: center;
}

.rolunk h2 {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #222;
}

.rolunk-szoveg {
    max-width: 900px;
    margin: auto;
    font-size: 20px;
    line-height: 1.7;
    color: #333;
    background: #f4f4f4;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
